.visual_area{position:relative; width: 100%; height: 100vh; background:url(../img/main.jpg)no-repeat; background-size:cover;background-position: 50%;}
video{position:absolute; width:100%;}
.visual_area .pc_width{position:relative; height:100%;}
.visual_area h2{background:url(../img/sp_brandcampaign.e5d710b1.svg)no-repeat; text-indent:-999999px;}
.btn_area{position:absolute; top:550px; left:0;}
.visual_area .title{margin-bottom:30px; text-indent:-999999px;}
.btn{display:inline-block; padding:12px 20px; text-align:center; border:1px solid red; border-radius:10px; background:red; color:#fff; font-size:20px; letter-spacing:-1px;}
.btn.btn_basic{color:#ff0000; border:1px solid #ff0000; background-color:transparent;}
.channel_area{padding:0 45px 50px 45px; background:#000;}
.channel_area ul::after{content:""; display:block; clear:both;}
/* 배경 컬러css: 기존사이트 참고했습니다  */
.channel_area li{transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);transition: 0.8s;}
.channel_area li:nth-child(1){background-image:webkit-gradient(linear,left top,left bottom,from(#000),to(#360d00)); background-image: linear-gradient(180deg,#000,#360d00);}
.channel_area li:nth-child(2){background-image:webkit-gradient(linear,left top,left bottom,from(#000),to(#001536)); background-image: linear-gradient(180deg,#000,#001536);}
.channel_area li:nth-child(3){background-image:webkit-gradient(linear,left top,left bottom,from(#000),to(#491327)); background-image: linear-gradient(180deg,#000,#491327);}
.channel_area li:nth-child(4){background-image:webkit-gradient(linear,left top,left bottom,from(#000),to(#570000)); background-image: linear-gradient(180deg,#000,#570000);}
.channel_area li:nth-child(5){background-image:webkit-gradient(linear,left top,left bottom,from(#000),to(#36003e)); background-image: linear-gradient(180deg,#000,#36003e);}
.channel_area li:nth-child(1):hover{background:#360d00;}
.channel_area li:nth-child(2):hover{background:#001536;}
.channel_area li:nth-child(3):hover{background:#491327;}
.channel_area li:nth-child(4):hover{background:#570000;}
.channel_area li:nth-child(5):hover{background:#36003e;}
.visual_channel{position:relative; width:20%; float:left; box-sizing: border-box;}
.channel_area .visual_channel:last-child{margin-right:0;}
.visual_channel div{position:absolute; bottom:30px; left:30px; z-index:3;}
.visual_channel a{display:block; width:100%; height:100%;}
.visual_channel a:hover::after{background:transparent;}
.visual_channel a::after{content:""; position:absolute; display:block; width:100%; height:100%; top:0; left:0; background:rgba(0,0,0,0.3); }
.visual_channel img{width:100%; z-index:3;}
.visual_channel p{margin:20px 0; color:#fff; font-size:18px; transition:all 0.3s;}
.channel_area li:nth-child(1) .channer_logo{display:block; background:url(../img/logo_sap.png)no-repeat; background-size:100%;}
.channel_area li:nth-child(2) .channer_logo{display:block; background:url(../img/logo_brr.png)no-repeat; background-size:100%;}
.channel_area li:nth-child(3) .channer_logo{display:block; background:url(../img/logo_secret.png)no-repeat; background-size:100%;}
.channel_area li:nth-child(4) .channer_logo{display:block; background:url(../img/logo_diary.png)no-repeat; background-size:100%;}
.channel_area li:nth-child(5) .channer_logo{display:block; background:url(../img/logo_idol.png)no-repeat; background-size:100%;}
.channel_area .btn{border-radius:8px; padding: 10px 19px; font-size: 18px; transition:all 0.3s;}
#event_wrap .pc_width{position:relative;}
.event_title{text-indent:-99999px;}
#event_wrap img{width:180px;}
#event_wrap .event_sub_title{margin:20px 0; letter-spacing:-0.5px; font-weight:bold}
            .event_sub_title span{color:#ff0000;}
#event_wrap .event_explain{letter-spacing:-1px; line-height:20px;}
.note_area{padding:20px; box-sizing:border-box; background:#f8f8f8; color:#888; font-size:13px;}
#event_wrap .note_area p{margin-bottom:10px; font-size:13px; font-weight:bold;}
.note_area li{position:relative; margin-bottom:10px; padding-left:15px; letter-spacing:-1px;}
.note_area li::before{content:""; position:absolute; display:block; width:4px; height:4px; top:4px; left:4px; border-radius:4px; background:#888; top:5px;}
.list_area{position:relative; display:inline-block; padding:150px 40px 50px 40px; left:50%; transform:translateX(-50%);}
.list_area>li{float:left;}
.list_area::after{content:""; display:block; clear:both;}
.list_area a{color:#999; font-weight:bold;}
.ch_list.active a{color:#000; text-decoration: underline;}
.all_channel_area ul::after{content:""; display:block; clear:both;}
.all_channel_area li{position:relative; width:33.3%; height:440px; float:left; transition:all 0.3s;}
.all_channel_area a{display:block; width:100%; height:100%;}
.ch_info{color:#fff;}
.ch_logo{position:absolute; text-indent:-99999px;}
.all_channel_area .ch1>a{background:url(../img/395390.png)no-repeat; background-size:cover;}
.ch1 .ch_logo{background:url(../img/1bb9a2.png)no-repeat; background-size:contain;}
.all_channel_area .ch2>a{background:url(../img/all_2.png)no-repeat; background-size:cover;}
.ch2 .ch_logo{background:url(../img/all_logo_2.png)no-repeat; background-size:contain;}
.all_channel_area .ch3>a{background:url(../img/all_3.png)no-repeat; background-size:cover;}
.ch3 .ch_logo{background:url(../img/all_logo_3.png)no-repeat; background-size:contain;}
.all_channel_area .ch4>a{background:url(../img/all_4.png)no-repeat; background-size:cover;}
.ch4 .ch_logo{background:url(../img/all_logo_4.png)no-repeat; background-size:contain;}
.all_channel_area .ch5>a{background:url(../img/all_5.png)no-repeat; background-size:cover;}
.ch5 .ch_logo{background:url(../img/all_logo_5.png)no-repeat; background-size:contain;}
.all_channel_area .ch6>a{background:url(../img/all_6.png)no-repeat; background-size:cover;}
.ch6 .ch_logo{background:url(../img/all_logo_6.png)no-repeat; background-size:contain;}
.all_channel_area .ch7>a{background:url(../img/all_7.png)no-repeat; background-size:cover;}
.ch7 .ch_logo{background:url(../img/all_logo_7.png)no-repeat; background-size:contain;}
.all_channel_area .ch8>a{background:url(../img/all_8.png)no-repeat; background-size:cover;}
.ch8 .ch_logo{background:url(../img/all_logo_8.png)no-repeat; background-size:contain;}
.all_channel_area .ch9>a{background:url(../img/all_9.png)no-repeat; background-size:cover;}
.ch9 .ch_logo{background:url(../img/all_logo_9.png)no-repeat; background-size:contain;}
.all_channel_area .ch10>a{background:url(../img/all_10.png)no-repeat; background-size:cover;}
.ch10 .ch_logo{background:url(../img/all_logo_10.png)no-repeat; background-size:contain;}
.footer_slide_wrap .title{text-align:center;}
.footer_slide_wrap .title span{color:#ff0000; vertical-align: top;}
.img_area{width:100%;}
.img_area>img{width:100%;}
.slick-arrow{position:absolute; display:block; text-indent:-9999px; border:none; z-index:2;}
.slick-prev{top:50%; background:url(../img/button_slide_arrow.png)no-repeat;}
.slick-next{top:50%; background:url(../img/button_slide_arrow.png)no-repeat;}
.slick-dots{position:absolute; left:50%; transform:translateX(-50%);}
.slick-dots::after{content:""; display:block; clear:both;}
.slick-dots li{float:left;}
.slick-dots button{display:block; text-indent:-99999px; background:rgba(255,255,255,0.5); border:none; border-radius:50%;}
.slick-dots .slick-active button{background:#fff }
.sns_area{ text-align:center;}
.sns_area>a{display:inline-block; margin-right:40px; width:32px; height:32px;}
.sns_area>a:last-child{margin-right:0;}
.sns_area img{width:28px;}
.sns_area>a:nth-child(2)>img{margin-top:3px; width:32px;}
.corp {margin-top: 30px; text-align: center; font-size: 11px;}




/* 기본 모바일 */
@media screen and (min-width: 1px) and (max-width: 959px){
.visual_area .pc_width{padding-top:20px;}
.visual_area h2{display:block; width:84px; height:22px; background-position:-504px -144px; margin:0 auto;}
.share_btn.mobile{position:absolute; display:block; width:20px; height:22px; top:18px; right:25px; background:url(../img/sp_brandcampaign.e5d710b1.svg)no-repeat; background-position:-320px -180px;}
.visual_area .title{display:block; width:168px; height:70px; margin:0 auto 30px auto; background:url(../img/sp_brandcampaign.e5d710b1.svg)no-repeat; background-position:-233px -281px;}
.btn_area{position:absolute; width:100%; top:auto; bottom:85px;}
.btn.btn_basic{position:relative; display:block; width:115px; margin:0 auto; font-size:16px; letter-spacing:-1.5px; font-weight:normal;}
.btn.btn_basic::after{content:""; position:absolute; display:block; width:20px; height:12px; top:70px; left:50%; margin-left:-10px; background:url(../img/sp_brandcampaign.e5d710b1.svg)no-repeat; background-position:-699px -146px;}
.btn.pc{display:none;}
.visual_channel {width: 100%; height: 186px; margin-right:0;}
.visual_channel div{bottom:0; left:20px; top:30px;}
.visual_channel img{position:absolute; width:auto; height:84%; bottom:0; right:0px; float:right;}
.visual_channel img.pc{display:none;}
.visual_channel img.mobile{display:block;}
.visual_channel p{margin:14% 0; font-size:14px; letter-spacing: -0.5px;}
.visual_channel p>span{display:block; height:5px;}
.channel_area .btn{font-size:13px;}
.channel_area{padding:0;}
.channel_area li:nth-child(1) .channer_logo{width:70px; height:29px;}
.channel_area li:nth-child(2) .channer_logo{width:65px; height:32px;}
.channel_area li:nth-child(3) .channer_logo{width:95px; height:35px;}
.channel_area li:nth-child(4) .channer_logo{width:65px; height:34px;  margin-left:-7px;}
.channel_area li:nth-child(5) .channer_logo{width:106px; height:34px;}
  /* 이벤트  */
#event_wrap{border-bottom:10px solid #eee;}
#event_wrap .pc_width{width:100%; margin:50px auto;}
.event_title{display:block; width:219px; height:84px; margin:0 auto; background:url(../img/sp_brandcampaign.e5d710b1.svg)no-repeat; background-position:-6px -280px;}
#event_wrap img{display:block; margin:20px auto 0 auto;}
#event_wrap .event_sub_title{font-size:16px; line-height:20px; letter-spacing:-0.8px; text-align:center;}
#event_wrap .event_explain{font-size:13px; line-height:18px; letter-spacing:-0.5px; text-align:center;}
.event_explain .mobile{display:block; height:1px;}
.event_explain .pc{display:none;}
.note_area{width:90%; margin:40px 5% 0 5%;}
  /* 채널리스트 */
.list_area a{font-size:15px;}
.list_area>li{margin-right:15px;}
.list_area{padding: 50px 0 30px;}
  /* 푸터 */
footer{margin:100px 0 30px 0;}
.footer_slide_wrap .title{font-size:16px; line-height:22px;}
.slide_area{position:relative; width:90%; margin:50px 5% 0 5%;}
.slick-arrow{width:33px; height:36px; padding:0; margin:0; margin-top:-18px; }
.slick-prev{left:20px; background-size:80px; background-position:-12px -2px;}
.slick-next{right:20px; background-size:80px; background-position:-37px -2px;}
.slick-dots{bottom:20px;}
.slick-dots li{margin-right:10px;}
.slick-dots button{width:8px; height:8px; padding:0;}
.sns_area{margin-top:50px;}
}

/* 태블릿사이즈 */
@media screen and  (min-width: 960px){
.visual_area .pc_width{width:100%; padding:0; margin:0; padding-left:50px; box-sizing:border-box;}
.visual_area .title{width:870px; height:120px; background:url(../img/sp_brandcampaign.e5d710b1.svg)no-repeat; background-position:0px 40px;}
.visual_area h2{display:inline-block; width:120px; height:36px; margin-top:40px; background-position:-407px -280px;}
.share_btn.mobile{display:none;}
.btn.btn_basic{display:inline-block; width:260px; margin-right:10px; font-size:20px;}
.btn.btn_basic::after{display:none;}
.btn.pc{display:inline-block;}
.visual_channel div {position: absolute; width: 92%; height:105px; top:auto; bottom: 3%; left: 5%; z-index: 3;}
.channel_area {padding: 0 45px 50px 45px;}
.btn_area{position:relative; width:auto; padding-left:50px;}
.visual_channel{position:relative; width:18.4%; height:auto; margin-right:2%; float:left; box-sizing: border-box;}
.visual_channel img{position:relative; width:100%; float:none; margin-right:0; z-index:3;}
.visual_channel img.pc{display:block;}
.visual_channel img.mobile{display:none;}
.channel_area{margin-top:-80px;}
.channel_area li:nth-child(1) .channer_logo{width:59px; height:26px;}
.channel_area li:nth-child(2) .channer_logo{width:59px; height:31px;}
.channel_area li:nth-child(3) .channer_logo{width:80px; height:33px;}
.channel_area li:nth-child(4) .channer_logo{width:59px; height:36px;  margin-left:-7px;}
.channel_area li:nth-child(5) .channer_logo{width:78px; height:28px;}
.channel_area li p{margin:5% 0 7% 0; font-size:11px;}
.visual_channel p>span{display:none;}
.channel_area .btn{font-size:11px;}
  /* 이벤트 */
#event_wrap{border-bottom:2px solid #eee;}
#event_wrap .pc_width{width:960px; margin:100px auto;}
.event_title{display:inline-block; width:500px; height:100px; background:url(../img/sp_brandcampaign.e5d710b1.svg)no-repeat; background-position:-6px -74px;}
#event_wrap img{position:absolute; display:inline-block; top:50px; right:100px; margin:0;}
#event_wrap .event_sub_title{font-size:24px; line-height:26px; text-align:left;}
#event_wrap .event_explain{font-size:16px; letter-spacing:-1px; text-align:left; line-height:23px;}
.event_explain .mobile{display:none;}
.event_explain .pc{display:block; height:1px;}
.note_area{width:100%; margin:40px 0 0 0;}
  /* 채널리스트 */
.list_area{padding: 150px 0 50px;}
.list_area a{font-size:24px;}
.list_area>li{margin-right:30px;}
  /* 푸터 */
footer{margin:200px 0 100px 0;}
.footer_slide_wrap .title{font-size:32px; line-height:40px;}
.slide_area{position:relative; width:840px; margin:50px auto;}
.slick-arrow{position:absolute; display:block; width:80px; height:104px; margin-top:-52px; text-indent:-9999px; border:none; z-index:2;}
.slick-prev{top:50%; left:50px; background-size:203px; background-position:-17px -2px;}
.slick-next{top:50%; right:50px; background-size:203px; background-position:-111px 2px;}
.slick-dots{bottom:40px;}
.slick-dots li{margin-right:25px;}
.slick-dots button{width:15px; height:15px;}
.sns_area{margin-top:100px;}
}


/* 헤더 여백 고정 분기 */
@media screen and  (min-width: 1560px){
.visual_channel div {position: absolute; width: 92%; height:135px; bottom: 5%; left: 8%; z-index: 3;}
.visual_channel p{font-size:16px;}
.channel_area .btn{font-size:18px;}
.channel_area li:nth-child(1) .channer_logo{width:101px; height:42px;}
.channel_area li:nth-child(2) .channer_logo{width:101px; height:50px;}
.channel_area li:nth-child(3) .channer_logo{width:125px; height:48px;}
.channel_area li:nth-child(4) .channer_logo{width:88px; height:46px;}
.channel_area li:nth-child(5) .channer_logo{width:142px; height:42px;}
}

/* 헤더 여백 pc 반응형 분기 */
@media screen and  (min-width: 1620px){
.visual_area .pc_width{width:1520px; margin:0 auto; padding-left:0;}
.btn_area{padding-left:0px;}
}

/* 채널리스트 1x1 분기 */
@media screen and (min-width: 1px) and (max-width: 770px){
  .all_channel_area {padding:0 5%;}
  .all_channel_area li{width:100%; height:192px;}
  .ch_logo{top:10px; bottom:auto; right:10px; width:90px; height:60px;}
  .list_hover_bg{position:absolute; bottom:0; padding:10px; width:100%; height:48px; box-sizing:border-box; background:rgba(0,0,0,0.5);}
  .ch_info{position:relative; letter-spacing:-1px;}
  .ch_title .pc{display:none;}
  .ch_title{position:absolute; width:50%; top:16px; left:50%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-break:break-all;}
  .ch_name{position:absolute; display:block; left:50%; font-weight:bold;}
  .ch_time{font-weight:bold;}
}

/* 채널리스트 2x1 분기 */
@media screen and (min-width: 771px){
.list_hover_bg{position:relative; width:100%; height:100%; background:rgba(0,0,0,0.5); transition:all 0.3s;}
.all_channel_area li>a:hover .list_hover_bg{background:rgba(0,0,0,0.9);}
.ch_logo{top:auto; bottom:30px; right:30px; width:160px; height:65px;}
.ch2 .ch_logo{width:100px;}
.ch5 .ch_logo{width:100px;}
.ch_info{position:absolute; width:100%; top:50%; transform: translateY(-50%); text-align:center; opacity:0; transition:all 0.3s;}
.all_channel_area li>a:hover .ch_info{opacity:1;}
.ch_info .ch_title{font-size:24px; font-weight:bold; line-height:35px; margin-bottom:30px; }
.ch_name{display:none;}
.ch_time{font-size:16px; letter-spacing:-0.5px;}
.ch_time span{display:none;}
.ch_title .pc{display:block; height:0px;}
.all_channel_area li{width:50%;}
}

/* 채널리스트 3X1 분기 */
@media screen and (min-width: 1281px){
  .all_channel_area li{width:33.3%;}
  .ch_info .ch_title{line-height:36px;}
}
