.project_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title_section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 96px;
}

.title_section .title {
  position: relative;
  width: 822px;
  height: 152px;
  background: url("../img/projects/projects_title.png") no-repeat;
  background-size: contain;
}

.j {
  position: absolute;
  top: 42px;
  left: 352px;
  display: block;
  width: 8px;
  height: 160px;
  background: #000;
  transition: all 0.1s ease-in-out;
  border-radius: 2px;
}

.title_section .desc {
  font-size: 19.2px;
}

.projects_section {
  width: 100%;
  height: 5500px;
  padding: 6vw;
  background: #fff;
  overflow: hidden;
}

.projects_section .projects_container {
  width: 100%;
}

.projects_section .project_container {
  margin-top: 100vh;
}

.projects_section .projects_bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.projects_bg .left_bg {
  position: absolute;
  top: 0;
  right: 52.4vw;
  width: 5px;
  height: 100vh;
  background: #000;
  display: none;
  transition: all 0.2s ease-in-out;
}

.projects_bg .right_bg {
  position: absolute;
  top: 0;
  left: 46.3vw;
  width: 5px;
  height: 100vh;
  background: #000;
  z-index: 100;
  display: none;
  transition: all 0.2s ease-in-out;
}

.projects_inner {
  position: relative;
  /* display: none; */
  width: 100%;
  z-index: 101;
  color: #fff;
}

.projects_area {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 200px 12%;
  opacity: 0;
  transition: all 0.2s ease;
}

.projects_inner.on .projects_area {
  opacity: 1;
}

/* 리스트 */
.projects_list {
  width: 100%;
  padding: 0 20px 20px 0;
  border-bottom: 1px solid #fff;
}

.project_line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.project_name {
  display: flex;
  align-items: start;
  padding: 40px 0 20px 0;
  font-size: 40px;
  font-weight: 500;
  cursor: pointer;
}

.project_name .team {
  margin-left: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #ccc;
}

.open_btn {
  width: 50px;
  height: 50px;
  margin-top: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.project_line.on .open_btn {
  transform: rotateX(180deg);
}

.project_item_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: opacity(0.3);
  transition: all 1s;
}

.project_item_bg.bg1 {
  background: url("../img/projects/bg_xtend.gif") no-repeat;
  background-size: cover;
  background-position: center;
}
.project_item_bg.bg2 {
  background: url("../img/projects/bg_nenia.gif") no-repeat;
  background-size: cover;
  background-position: center;
}
.project_item_bg.bg3 {
  background: url("../img/projects/bg_school.gif") no-repeat;
  background-size: cover;
  background-position: center;
}
.project_item_bg.bg4 {
  background: url("../img/projects/bg_perpett.gif") no-repeat;
  background-size: cover;
  background-position: center;
}

/* 프로젝트 상세 */
.project_details {
  display: none;
  transition: all 1s;
  opacity: 0;
}

.project_details.on {
  display: block;
  opacity: 1;
  transition: all 1s;
}

.projects_area .project_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 40px;
}

.projects_area .project_info .project_desc {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 100;
}

.projects_area .project_info .project_skills {
  margin: 20px 0 50px 0;
  display: flex;
  flex-wrap: wrap;
}

.projects_area .project_info .skill:first-child {
  margin-left: 0;
}

.projects_area .project_info .skill {
  font-size: 14px;
  padding: 5px 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
}

.projects_area .project_info .project_duration {
  margin-bottom: 20px;
  font-weight: 100;
}

.projects_area .project_duration strong {
  margin-right: 10px;
  font-weight: 500;
}

.projects_area .project_info .link_area {
  font-weight: 700;
}

.projects_area .link_area a {
  color: #fff;
}
.projects_area .link_area a:first-child {
  margin-right: 10px;
}

@media (min-width: 1921px) {
  .projects_area {
    padding: 250px 30%;
  }
}

@media (min-width: 1024px) and (max-width: 1550px) {
  .projects_bg .left_bg {
    right: 53.3vw;
  }
  .projects_bg .right_bg {
    left: 45.2vw;
  }
}

@media (max-width: 1023px) {
  .title_section .title {
    width: 90vw;
    height: 17vw;
  }
  .j {
    top: 5.4vw;
    left: 38.6vw;
    width: 0.8vw;
    height: 70px;
  }

  .projects_bg .left_bg {
    right: 54.7vw;
  }

  .projects_bg .right_bg {
    left: 43.6vw;
  }

  .projects_area {
    padding: 5vw;
  }

  .project_name {
    font-size: 24px;
    padding: 30px 0 10px 0;
  }

  .project_name .team {
    display: none;
  }

  .open_btn {
    width: 30px;
    height: 30px;
  }
  .open_btn img {
    width: 100%;
    height: 100%;
  }

  .projects_area .project_info .project_desc {
    font-size: 14px;
  }

  .projects_area .project_info .project_skills {
    margin: 10px 0 30px 0;
  }

  .projects_area .project_info .skill {
    font-size: 11px;
    margin-left: 6px;
  }

  .projects_area .project_info .project_duration {
    font-size: 14px;
  }
  .projects_area .project_info .link_area {
    font-size: 14px;
  }
}
